@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

button {
    align-items: center;
    background: var(--key);
    border: none;
    border-bottom: solid 3px var(--key-shadow);
    border-radius: 10px;
    color: var(--text);
    cursor: pointer;
    display: flex;
    font-family: "League Spartan", sans-serif;
    font-size: 2em;
    font-weight: bold;
    height: 64px;
    justify-content: center;
    padding: 6px 0 0;
    width: 100%;
}

button:hover {
    background: var(--key-hover);
}

button:active {
    border-bottom: solid 2px var(--key-shadow);
}

@media (max-height: 700px) {
    button {
        font-size: 1.8em;
        height: 50px;
    }
}