div.main {
    background-color: var(--toggle-keypad-bg);
    border-radius: 10px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 480px;
    padding: 30px;
    width: 100%;
}

button.B16 {
    grid-column: 1 / span 2;
}

button.B17 {
    background: var(--eq-toggle);
    border-bottom: solid 3px var(--eq-toggle-shadow);
    color: var(--equals);
    grid-column: 3 / span 2;
}

button.B17:hover {
    background: var(--eq-toggle-hover);
}

button.B17:active {
    border-bottom: solid 2px var(--eq-toggle-shadow);
}

button.B3,
button.B16 {
    background: var(--reset-key);
    border-bottom: solid 3px var(--reset-key-shadow);
    color: var(--white);
}

button.B3:hover,
button.B16:hover {
    background: var(--reset-key-hover);
}

button.B3:active,
button.B16:active {
    border-bottom: solid 2px var(--reset-key-shadow);
}

@media (max-height: 700px) {
    div.main {
        gap: 16px;
        height: fit-content;
        padding: 25px;
    }
}

@media (max-width: 600px) {
    div.main {
        gap: 16px;
        height: fit-content;
        padding: 25px;
    }
}